/build
/.idea
/.vscode
/.venv
/.gradle
/ActivityLauncherApp/build
/ActivityLauncherApp/release
/app/ossNoads
/app/playStoreAds
*.iml
/.safedk
local.properties
local.env
google-services.json
keystore*.jks
/.artifacts
/.kotlin
