<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />


    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name=".ActivityLauncherApp"
        android:allowBackup="true"
        android:banner="@drawable/launcher_banner"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ActivityLauncher"
        tools:targetApi="36">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ActivityLauncher.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="activitylauncher.net" android:pathPrefix="/activity/"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ShortcutActivity"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/Theme.ActivityLauncher.NoDisplay">
            <intent-filter>
                <action android:name="activitylauncher.intent.action.LAUNCH_SHORTCUT"/>
                <action android:name="activitylauncher.intent.action.LAUNCH_ROOT_SHORTCUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
