<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <permission
        android:name="de.szalkowski.activitylauncher.permission.CREATE_SHORTCUT"
        android:protectionLevel="signature" />
    <permission
        android:name="de.szalkowski.activitylauncher.permission.LAUNCH_ACTIVITY"
        android:protectionLevel="signature" />

    <uses-permission android:name="de.szalkowski.activitylauncher.permission.CREATE_SHORTCUT" />
    <uses-permission android:name="de.szalkowski.activitylauncher.permission.LAUNCH_ACTIVITY" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name=".app.ActivityLauncherApp"
        android:allowBackup="true"
        android:banner="@drawable/launcher_banner"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ActivityLauncher"
        tools:targetApi="37">
        <activity
            android:name=".entrypoint.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ActivityLauncher.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="activitylauncher.net"
                    android:pathPrefix="/activity/"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity
            android:name=".entrypoint.ShortcutActivity"
            android:exported="false"
            android:noHistory="true"
            android:theme="@style/Theme.ActivityLauncher.Translucent">
        </activity>

        <activity-alias
            android:name=".ShortcutActivity"
            android:exported="true"
            android:targetActivity=".entrypoint.ShortcutActivity">

            <intent-filter>
                <action android:name="activitylauncher.intent.action.LAUNCH_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".CreateShortcutActivity"
            android:exported="true"
            android:permission="de.szalkowski.activitylauncher.permission.CREATE_SHORTCUT"
            android:targetActivity=".entrypoint.ShortcutActivity">
            <intent-filter>
                <action android:name="activitylauncher.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".LaunchActivity"
            android:exported="true"
            android:permission="de.szalkowski.activitylauncher.permission.LAUNCH_ACTIVITY"
            android:targetActivity=".entrypoint.ShortcutActivity">
            <intent-filter>
                <action android:name="activitylauncher.intent.action.LAUNCH_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".entrypoint.SettingsActivity"
            android:exported="false"
            android:label="@string/activity_settings"
            android:theme="@style/Theme.ActivityLauncher.NoActionBar" />

        <activity
            android:name=".entrypoint.QSTileNavHostActivity"
            android:exported="false"
            android:theme="@style/Theme.ActivityLauncher.Translucent" />

        <service
            android:name=".entrypoint.QSTileService"
            android:exported="true"
            android:icon="@drawable/ic_rocket_launch"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <receiver
            android:name=".entrypoint.PackageChangeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
