name: Build APK

on:
  push:
    branches:
      - 'master'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: 17
        cache: 'gradle'
    - name: Prepare Android keystore
      run: echo ${{ secrets.ENCODEDKEYSTORE }} | base64 --decode > app/keystore.jks
    - name: Download dependencies
      run: ./gradlew androidDependencies
    - name: Build release APK
      run: ./gradlew assembleRelease
      env:
        KEYSTORE: keystore.jks
        KEYSTORE_PASSWORD: ${{ secrets.KEYSTOREPASSWORD }}
        KEY_ALIAS: ${{ secrets.KEYALIAS }}
        KEY_PASSWORD: ${{ secrets.KEYPASSWORD }}
    - name: Upload release APK
      uses: actions/upload-artifact@v4
      with:
        name: release.apk
        path: app/build/outputs/apk/release/app-release.apk
