name: Release to Play Store

on:
  push:
    tags:
      - '*'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set version
      id: version
      run: echo ::set-output name=tag::${GITHUB_REF#refs/*/}
    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: 17
        cache: 'gradle'
    - name: Prepare Android keystore
      run: echo ${{ secrets.ENCODEDKEYSTORE }} | base64 --decode > app/keystore.jks
    - name: Download dependencies
      run: ./gradlew androidDependencies
    - name: Build release AAB
      run: ./gradlew bundleRelease
      env:
        APPID: de.szalkowski.activitylauncher.pro
        KEYSTORE: keystore.jks
        KEYSTORE_PASSWORD: ${{ secrets.KEYSTOREPASSWORD }}
        KEY_ALIAS: de.szalkowski.activitylauncher.pro
        KEY_PASSWORD: ${{ secrets.KEYPASSWORD }}
    - name: Upload Android Release to Play Store
      uses: r0adkll/upload-google-play@v1
      with:
        serviceAccountJsonPlainText: ${{ secrets.SERVICEACCOUNT }}
        packageName: de.szalkowski.activitylauncher.pro
        releaseFiles: app/build/outputs/bundle/release/*.aab
        releaseName: ${{ steps.version.outputs.tag }}
        track: beta
        inAppUpdatePriority: 0
        status: completed
        whatsNewDirectory: whatsnew
        mappingFile: app/build/outputs/mapping/release/mapping.txt
